:root {
  --header-color: burlywood;
  --display-color: rgb(225, 209, 188);
  --book-color: rgb(104, 33, 33);
  --light-text-color: rgb(225, 183, 173);
  --dark-text-color: rgb(65, 27, 13);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

body {
  min-height: 100vh;

  display: grid;
  grid-template-rows: 0.8fr 0.5fr 10fr;
}

header {
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--dark-text-color);
  background-color: var(--header-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-area {
  background-color: var(--header-color);

  display: flex;
  justify-content: center;
}

.add-book-button {
  height: 30px;
  width: 100px;
  color: var(--light-text-color);
  background-color: var(--dark-text-color);
  border: none;
  border-radius: 10px;
  font-size: 1em;
}

.add-book-button:hover {
  background-color: rgb(46, 19, 9);
  cursor: pointer;
}

.book-display {
  background-color: var(--display-color);
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.book {
  height: 300px;
  width: 300px;
  padding: 15px;
  color: var(--light-text-color);
  background-color: var(--book-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  display: grid;
  grid-template-rows: 1fr 3fr 1fr 1fr;
}

.author {
  font-size: 1.4em;
}

.title {
  font-size: 2em;
}

.author, .title {
  justify-self: center;
  align-self: center;
}

.pages, .release-date {
  font-size: 1.2em;

  align-self: center;
}

dialog {
  margin: auto;
  padding: 20px;
  font-size: 1.4em;
  color: var(--dark-text-color);
  background-color: var(--header-color);
}

dialog::backdrop {
  background-color: black;
  opacity: 30%;
}

dialog>div {
  display: grid;
  grid-template-rows: 1fr 10fr 2fr;
  gap: 15px;
}

form {
  display: grid;
  gap: 20px;
}

form>div {
  display: flex;
  flex-direction: column;
}

input {
  height: 25px;
  width: 300px;
  padding: 5px;
  font-size: 0.8em;
  border: 2px solid var(--dark-text-color);
  color: var(--dark-text-color);
  background-color: var(--display-color);
}

.submit-button {
  height: 30px;
  width: 300px;

  align-self: end;
}